<link rel="stylesheet" href="/css/c_tabs.css">
<link rel="stylesheet" href="/css/orders-list.css">
<div class="tabs-wrapper">
	<ul class="tabs-titles-wrap">
		<li class="tab active tab-all">Все</li>
	</ul>
	<div class="tabs-content-wrap">
		<div class="tab-content active">
			<table class="order-item">
				<thead class="title-helper">
					<tr>
						<th></th>
						<th class="title-helper__goods-amount">Товаров</th>
						<th class="title-helper__total-amount">Общая сумма</th>
						<th class="title-helper__total-paid">Оплачено</th>
						<th class="title-helper__orders-created">Дата заказа</th>
						<th></th>
					</tr>
				</thead>
				<% orders.forEach(({id, hash, client_id, surname, firstname, patronymic, email, phone, price, deliveryMethod, paymentMethod, created, goods, payed_sum}, index) => { %>
					<tr>
						<td class="order-item__number"><%= index + 1 -%></td>
						<td class="order-item__goods-amount"><%= goods.length -%></td>
						<td class="order-item__total-amount">
							<span><%= Helpers.formatPrice(price) -%></span>р.
						</td>
						<td class="order-item__total-paid">
							<span><%= Helpers.formatPrice(payed_sum) -%></span>р.
						</td>
						<td class="order-item__total-paid">
							<span><%= Helpers.formatDate(created, 'dd.MM.yyyy hh:mm') -%></span>
						</td>
						<td class="order-item__more-details">
							<a href="#" class="btn more-order-details">Подробнее</a>
						</td>
					</tr>
				<% }) %>
			</table>
		</div>
	</div>
</div>