<!--<link rel="stylesheet" href="/css/vacancies-list.css">-->
	<div>
		<% if(user.adminMode) { %>
			<div class="admin-control-container my-2">
				<div class="form-group">
					<span>URL для объектов:</span>
					<input type="text" class="form-control mb-2 js-fragment-update-settings" data-target="objectUrl" data-fragment-id="<%= fragment.id -%>" value="<%= fragment.settings.objectUrl -%>">
					<button class="btn js-vacancies-add">Добавить новую вакансию</button>
				</div>
			</div>
		<% } %>
		<% if(fragment.settings.objectUrl !== '') { %>
			<% if(vacancies.length > 0) { %>
				<% vacancies.map(d => { %>
					<div>
						<% if(user.adminMode) { %>
							<div class="form-group pr-1 pl-1">
								<label>Заголовок</label>
								<input data-id="<%= d.id %>" class="form-control js-vacancies-title-update" type="text" value="<%= d.title %>">
							</div>
							<div class="form-group">
								<a href="<%= fragment.settings.objectUrl + '/' + d.id -%>" class="btn">Открыть</a>
								<button data-id="<%= d.id %>" class="btn bg-delete js-vacancies-delete">Удалить</button>
								<% if(d.published) { %>
									<button value="0" data-id="<%= d.id %>" class="btn js-vacancies-toggle-public">Снять с публикации</button>
								<% }
								else { %>
									<button value="1" data-id="<%= d.id %>" class="btn js-vacancies-toggle-public">Опубликовать</button>
								<% } %>
							</div>
						<% }
						else { %>
							<div class="d-flex mb-2">
								<div class="pr-3">
									<a href="<%= fragment.settings.objectUrl + '/' + d.id -%>">
										<img src="https://placehold.it/150x150" width="150" height="150">
									</a>
								</div>
								<div class="d-flex flex-column">
									<div>
										<h3>
											<a href="<%= fragment.settings.objectUrl + '/' + d.id -%>">
												<%= d.title %> <%= d.published == "0" ? '(Неопубликовано)' : '' -%>
											</a>
										</h3>
									</div>
									<% if(d.published_time) { %>
										<div>
											Опубликовано: <%= Helpers.formatDate(d.published_time, 'dd MMMM yyyy, hh:mm') -%>
										</div>
									<% } %>
								</div>
							</div>
						<% } %>
					</div>
				<% }) %>
			<% } else { -%>
				<h2>Вакансии отсутствуют</h2>	
			<% } -%>		
		<% } else { -%>
			<% if(user.adminMode) { -%>
				<h2>Для фрагмента не установлена ссылка на объект</h2>
			<% } -%>
		<% } -%>
	</div>
<% if(user.adminMode) { %>
	<script src="/admins/js/vacancies-list.js" defer></script>
<% } %>