<%
	var level = level || 0,
		link = "/store-cat/";
%>

<ul class="section-menu js-shop-menu">
	<% for(let id in catsTree) { %>
		<% var s = catsTree[id] -%>
		<li data-cat-id="<%= s.id -%>" class="js-shop-menu-item section-menu-item section-menu-item-user">
			<a href="<%= s.alias || link + s.id  -%>" style="width: 100%; padding-left: <%= 20 * level -%>px">
				<p><%= s.title -%></p>
			</a>
			<% if(!!catsTree[id]['childs'] === true) { %>
				<%- include('./template.ejs', {catsTree: catsTree[id]['childs'], level: level + 1}) %>
			<% } %>
		</li>
	<% } %>
</ul>