<link rel="stylesheet" href="/css/history.css">
<hr>
<div style="text-align: center;">
  <div class="hidden-edit-block" style="display: none">
    	<h2 style="display:none">Редактировать событие № <span></span></h2>
      <br>
      <div class="input-group">
        <img onclick="$('#edit-img-input-file').click()" style="width: 300px;" src="" alt="Изображение события" class="edit-img-btn">
        <input style="display:none" type="file" id="edit-img-input-file">
      </div>
      <div class="input-group edit-date-group">
        <label>
          <input type="date" class="input-text edit-date" style="width: auto;">
        </label>
      </div>
    		<div class="input-group">
    			<label>
    				<input type="text" class="input-text edit-title" style="width: auto;">
    			</label>
    		</div>
    		<div class="input-group">
    			<label>
    				<input type="text" class="input-text edit-desc" style="width: auto;">
    			</label>
    		</div>
        <br>
  </div>
</div>
<section class="timeline">
  <ul>
		<%
			history.forEach((o, i) => {
			%>
	    <li>
	      <div class="timeline-block" id="history<%= o.id %>">
					<% if(user.adminMode) { %>
						<div class="control-block" data-id="<%= o.id %>">
							<div class="btn btn-danger control remove"><i class="fa fa-remove"></i></div>

              <div class="btn control left"><i class="fa fa-arrow-up"></i></div>
              <div class="btn control right"><i class="fa fa-arrow-down"></i></div>
						</div>
						<% } %>
            <% if(user.adminMode) { %>
                <div class="edit-part" data-id="<%= o.id %>">
                  <img src="<%= o.img %>" onclick="everyEdit(this); $('.edit-img-btn')[0].dataset.id = $(this).parent().data('id'); $('#edit-img-input-file').click()" alt="фото события">
                  <br>
                  <input class="edit edit-part-date" type="date" value="<%=getTheInputDate(o.created)%>">
                  <input class="edit edit-part-title" type="text" value="<%= o.title %>">
                  <textarea class="edit edit-part-desc" type="text"><%= o.desc %></textarea>
                </div>
            <% }else{ %>
            <img src="<%= o.img %>" alt="фото события">
	          <time><%= o.title %></time>
					  <div class="timeline-desc"><%= o.desc %></div>
            <div class="time" data-created="<%=getTheInputDate(o.created)%>"><%= getTheTime(o.created) %></div>
            <% } %>
        </div>
	    </li>
		<% }); %>
		<% if(user.adminMode) { %>
			<li class="plus">
	      <div class="timeline-block add-new-event" data-admin="<%= user.adminMode %>" style="cursor: pointer; text-align: center;">
	        <i class="fa fa-plus"></i>
	      </div>
	    </li>
		<% } %>
  </ul>
</section>

<%
function getTheTime(date) {

  function twoCharInt(anInt) {
    return anInt < 10 ? '0' + anInt : anInt;
  }

  const times = new Date(date);
  const year = times.getFullYear();
  const months = ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'];
  const month = months[times.getMonth()];
  const day = twoCharInt(times.getDate());

  return day + ' ' + month + ' ' + year
}


function getTheInputDate(date) {

  var time = new Date(date);
  var day = time.getDate() < 10 ? '0'+time.getDate():time.getDate();
  var month = time.getMonth() + 1; var month = month < 10 ? '0'+month : month;
  const year = time.getFullYear();

  return year + '-' + month + '-' + day
}
%>

	<script src="/js/history.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/history.js" defer></script>
<% } %>
